@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
}

body,
html {
  background-color: ghostwhite !important;
  height: 100vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

a:hover {
  filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.481));
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

form {
  width: 40%;
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

.dashboard {
  z-index: 0;
  padding-left: 18.75rem;
  padding-right: 6.25rem;
}

.tileContainer {
  padding-top: 9.375rem;
}

.siteContainer {
  padding-left: 18.75rem;
  padding-right: 6.25rem;
}

@media (max-width: 1200px) {
  .dashboard {
    display: block;
    padding-left: 18.75rem;
    padding-right: 1.25rem;
  }
  .siteContainer {
    padding-right: 1.25rem;
  }
}

@media (max-width: 750px) {
  .dashboard {
    padding-left: 320px;
    padding-right: 1.25rem;
  }
}

@media (max-width: 715px) {
  .dashboard {
    padding-left: 6.875rem;
    padding-right: 1.25rem;
  }
  .siteContainer {
    padding-left: 6.875rem;
  }
}

.login-page {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3cpath d='M1075.4080038446416 242.76386586764312L993.7290174951341 138.21953076357835 889.1846823910694 219.8985171130858 970.8636687405768 324.4428522171506z' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M691.31 521.35 a130.44 130.44 0 1 0 260.88 0 a130.44 130.44 0 1 0 -260.88 0z' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M349.7 309.23 a122.62 122.62 0 1 0 245.24 0 a122.62 122.62 0 1 0 -245.24 0z' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M789.24 298.16 a140.56 140.56 0 1 0 281.12 0 a140.56 140.56 0 1 0 -281.12 0z' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M571.92 495.49 a164.69 164.69 0 1 0 329.38 0 a164.69 164.69 0 1 0 -329.38 0z' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M450.2863507896206 175.16234697136463L546.5899177638013 192.1432641673773 563.570834959814 95.83969719319664 467.2672679856333 78.85877999718396z' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M34.926%2c628.818C72.494%2c630.731%2c107.998%2c610.528%2c127.26%2c578.217C146.993%2c545.116%2c148.787%2c503.669%2c129.384%2c470.373C110.108%2c437.297%2c73.112%2c417.058%2c34.926%2c419.775C0.466%2c422.227%2c-22.95%2c451.646%2c-38.803%2c482.341C-53.117%2c510.056%2c-56.465%2c541.714%2c-42.441%2c569.576C-26.789%2c600.672%2c0.158%2c627.048%2c34.926%2c628.818' fill='rgba(81%2c 115%2c 255%2c 0.92)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.Modal {
  height: 50%;
  width: 50%;
}

.sidebar {
  z-index: 2;
  border-radius: 30px;
  height: 100vmin;
  position: absolute;
  padding: 1rem;
  background-color: ghostwhite;
}
.side {
  border-radius: 20px;
  filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.22));
}

.sidebar a {
  color: rgb(68, 68, 68) !important;
}

.sidebarItems li:hover {
  background-color: #c8c7c7aa;
  border-radius: 0.313rem;
}

.sidebarItems li {
  color: black;
}

@media (max-width: 900px) {
  .sidebar {
    height: 100%;
  }
}

.userCardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.userCard {
  justify-content: center;
  background-color: rgb(218, 85, 85);
  padding: 12px;
  border-radius: 15px;
  margin: 10px;
  height: 300px;
  width: 250px;
  color: ghostwhite;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.176);
}

.signupContainer {
  display: block;
}
